@font-face {
  font-family: "Simplifica";
  src: url("SIMPLIFICA.ttf");
}

body {
  background-color: #4c8bac;
}
#title {
  font-family: Andale Mono, monospace, sans-serif;
  color: rgb(249, 252, 255);
}
.button {
  background-color: rgba(108, 197, 212, 0.747);
  border-color: rgb(109, 125, 133);
  border-width: 3px;
  color: azure;
  padding: 10px;
  font-family: Andale Mono, monospace, sans-serif;
  font-size: 20px;
  font-style: bold;
  border-radius: 25px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: none;
  width: 180px;
  margin-bottom: 10px;
  height: 50px;
}
.button:hover {
  width: 190px;
}
#runSim {
  background-color: rgba(56, 144, 245, 0.781);
  border-color: rgb(21, 83, 114);
  border-width: 3px;
  color: azure;
  padding: 10px;
  font-family: Andale Mono, monospace, sans-serif;
  font-size: 20px;
  font-style: bold;
  border-radius: 25px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: none;
  width: 180px;
}
#runSim:hover {
  background-color: #48a70b;
}
#window {
  border-style: outset;
  border-color: rgb(109, 125, 133);
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 5px;
  border-radius: 25px;
  outline: none;
  width: 1000px;
  height: 800px;
}
#triangleBuilder {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  border-style: outset;
  border-color: rgb(109, 125, 133);
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 5px;
  border-radius: 25px;
  /* margin-left: -500; */
}
#button-holder {
  width: 190px;
}
#graph-window {
  background-color: rgba(108, 197, 212, 0.747);
  width: 500px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: outset;
  border-color: rgb(109, 125, 133);
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 5px;
  border-radius: 25px;
  z-index: -1;
}
#graph {
  background-color: white;
  margin: 50px;
  width: 400px;
  height: 400px;
}
