body{
  background-color: #DEF2F1
}
#window {
  border: 2px;
  border-color: black;
  border-style: dashed;
  border-radius: 25px;
}
#triangleBuilder {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  border-radius: 25px;
  border: 2px;
  border-style: groove
  /* margin-left: -500; */
}
