body {
  /* display: inline-block; */
  background-color: #3AAFA9;
}
#input-container{
  width: 100%;
  height: 400px;
}
#window {
  border: 2px;
  border-color: rgb(61, 67, 71);
  border-style: solid;
  border-radius: 25px;
  float: left;
}
#input {
  display: block;
  width: 50px;
  float: left;
  margin-top: 50px;
  align-content: center;
}
.vertical {
  float: left;
  width: 50 px;
  margin-top: 15px;
  color: rgb(61, 67, 71);
  font-family: Andale Mono, monospace, sans-serif;
}
.lrgButton{
  float: left;
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  color: rgb(61, 67, 71);
  font-family: Andale Mono, monospace, sans-serif;
  font-size: 40px;
}
